.margin-right-sm {
  margin-right: 30px;
}
.row+.row {
    margin-top: 1rem;
}

.action-section {
    display: flex;
    justify-content: space-around;
}

.bg-custom {
    background: #224b79;
    color: #fff;
    margin: 0 0 5px 0;
}

.user-list .card-body {
    padding: .75rem;
    /* position: relative; */
    min-height: 175px;
}

.card-body img {
    float: left;
    margin-right: 10px;
}

.card-body p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 13px;
    color: #808080;
}

.btn-custom {
    /* position: absolute;
  bottom: 12px;
  right: 12px; */
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
}

.group-name {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  padding: 5px 10px;
  background: #729bd0;
}

.card {
  margin-top: 25px;
}

.card-header.bg-custom-blue{
  background: #228598;
}

.navbar-nav .nav-item a:hover, .nav-item a.selected{
  color:#f8d01d !important;
}

.badge-custom {
  padding: .5em .7em;
  border-radius: .15rem;
  margin-left: 20px;
}

/** */
.badge-custom {
  color: #fff;
  background-color: #17a2b8;
  padding: 5px 2px 5px 12px;
  margin: 0 5px;
}

.badge-custom span {
  margin: 0 0 0 10px;
  color: red;
  background: #ffffff;
  padding: 2px 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.bg-custom {
  background-color: #8BC34A!important;
}

.bg-custom-orange {
  color: #fff;
  background-color: #d14b12;
  border-color: #d14b12;
}

.user-group-pist .card-header {
  background: #03c2da;
}
.bg-info {
  background-color: #227785!important;
  color: #fff;
}
